h1{
    text-align: center;
    margin-top: 20px;
    font-family: "Oxygen", Arial, Helvetica, sans-serif;
    
}

p{
    font-family: "Oxygen", Arial, Helvetica, sans-serif;
    font-size: 18px;
}

h6{
    text-align: center;
    font-family: "Oxygen", Arial, Helvetica, sans-serif;
    font-size: 14px;
    /* margin-top: 10px; */
    margin-bottom: 20px;
    color: deepskyblue;
}

/* span{
    position: relative;
    
} */
img{
    width:10%;
    height: 10%;
    margin-right: 20px;
    cursor: pointer;
    transition:transform 0.25s ease;
}

img:hover{
    -webkit-transform:scale(100); /* or some other value */
    transform:scale(10);
}

#ref{
    color: deepskyblue;
}

#refID{
    color: black;
}

li{
    list-style-type: none;
}